// Colors defined by https://material.io/guidelines/style/color.html#color-color-palette
$color-primary: #03a9f4;
$color-primary-light-2: #4fc3f7;
$color-primary-light-4: #b3e5fc;

$color-red: #f44336;
$color-red-error: #dd2c00;

$color-purple: rgb(102, 0, 102);

$color-white: #fff;
$color-black: #000;

$color-text: rgba(0,0,0,0.87);
$color-text-med: rgba(0,0,0,0.54);