// Colors defined by https://material.io/guidelines/style/color.html#color-color-palette
$color-primary: #03a9f4;
$color-primary-light-2: #4fc3f7;
$color-primary-light-3: #81D4FA;
$color-primary-light-4: #b3e5fc;

$color-accent: #F44336;
$color-accent-light-4: #FF8A80;

$color-red: #f44336;
$color-red-error: #dd2c00;

$color-purple: rgb(102, 0, 102);
$color-green: #8BC34A;

$color-white: #fff;
$color-black: #000;
$color-grey-med: #E0E0E0;
$color-grey-light: #eee;
$color-grey-lightest: #F5F5F5;

$color-text: rgba(0,0,0,0.87);
$color-text-med: rgba(0,0,0,0.54);