// Styles that apply to the whole site

.debugapp {
  .page-content {
    padding: 36px 36px 82px;
  }
  .code-block {
    pre {
      margin: 0;
      code {
        padding: 0 8px;
        height: 17px;
      }
    }
  }
}
