// Styles that apply to the whole site


.debugapp {
  display: flex;

  .page-content {
    padding: 36px 36px 82px;
  }
  .code-block {
    pre {
      margin: 0;
      code {
        padding: 0 8px;
        height: 17px;
      }
    }
  }

  .md-chips md-chip .md-chip-remove md-icon {
    min-width: 0;
    width: 14px;
  }

  .textLabelRequired:after {
    content: ' *';
    font-size: 13px;
    vertical-align: top;

  }
}
