@import '../../styles/colors';

.odVariable {
  min-height: 24px;

  .vIcon {
    text-align: center;
    font-size: 12px;
  }

  .children {
    margin-left: 12px;
  }
  .vValue {
    text-transform: capitalize;
    margin: 0 4px;
    color: $color-text-med;
  }
  .vText {
    font-size: 14px;
  }
}
.odVariable.pText {
  font-size: 14px;
  height: 16px;

  .pName {
    margin-left: 24px;
    margin-right: 4px;
  }
  .numValue {
    color: $color-purple;
  }
  .strValue {
    color: $color-green-dark;
  }
}