<div class="codeContainer">
    <form ng-submit="$ctrl.submit()">
    <md-card class="odSandbox">
      <textarea ui-codemirror ui-codemirror-opts="$ctrl.opts" ng-model="$ctrl.code" readonly="true"></textarea>
    </md-card>
    <div layout="row" layout-align="end center">
      <md-button type="button" class="md-raised md-accent" aria-label="clear" ng-click="$ctrl.clear()">Clear</md-button>
      <md-button type="submit" class="md-primary" ng-disabled="$ctrl.submitted"
        ng-class="{'md-raised': !$ctrl.submitted}" aria-label="debug">Debug</md-button>
    </div>
  </form>
</div>
