<div class="codeContainer">
  <h3 class="md-title title">Enter your code to debug here:</h3>
  <form ng-submit="$ctrl.submit()">
    <md-card class="odSandbox">
      <textarea ui-codemirror ui-codemirror-opts="$ctrl.opts" ng-model="$ctrl.code" readonly="true"></textarea>
    </md-card>
    <div layout="row" layout-align="end center">
      <md-button type="submit" class="md-primary"
        ng-class="{'md-raised': !$ctrl.submitted}" aria-label="debug">Debug</md-button>
      <md-button aria-label="exit the exercise" class="exitButton md-raised"
        ng-click="$ctrl.exit($event)">Back
      </md-button>
    </div>
  </form>
</div>
