<form name="$ctrl.chooseFileForm" class="odChooseFile"  ng-submit="$ctrl.submit()" novalidate>
  <md-dialog-content class="content">
    <div class="md-dialog-content chooseFileContent" layout="column">
      <div class="fileInput">
        <input type="file" name="file" id="file" class="input_file"
          type="file" accept=".py" file-input ng-model="$ctrl.chosenFile" ng-hide="true">
        <label for="file" class="md-button md-raised md-primary chooseFileButton">Choose File</label>
        <span>{{$ctrl.chosenFile.name}}</span>
        <div class="error" ng-show="!$ctrl.chosenFile">{{$ctrl.errorMessage}}</div>
      </div>
      <div layout="row">
        <md-input-container class="fileInput textInput">
          <label>Exercise Name</label>
          <input ng-model="$ctrl.name" aria-label="exercise name" name="exerciseName" required autocomplete="off"/>
          <div ng-messages="$ctrl.chooseFileForm.exerciseName.$error">
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" >
        <number-chips ng-model="$ctrl.errorLines" form="$ctrl.chooseFileForm"></number-chips>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <div class="md-dialog-actions">
      <md-button type="button" ng-click="$ctrl.cancel()" aria-label="cancel">Back</md-button>
      <md-button type="submit" aria-label="save"class="md-primary" ng-disabled="$ctrl.submitted">Save</md-button>
    </div>
  </md-dialog-actions>
</form>