@import "../../styles/colors";

.odChooseFile {
  .chooseFileContent {
    width: 400px;

    .textInput {
      width: 100%;
    }

    .errorLine {
      margin-top: 45px;
    }

    .fileInput {
      margin-bottom: 4px;

      .chooseFileButton {
        margin-left: 0;
      }

      .error {
        color: $color-red-error;
        font-size: 14px;
      }
    }

    .errorInput {
      margin-bottom: 0;
    }
  }
}

