<div layout="row" class="odCodeBlock">
  <md-card class="blockCard flagCard">
    <table class="blockTable">
      <tbody>
        <tr ng-repeat="line in $ctrl.codeByLines track by $index" ng-init="lineNum = $index + 1"
          ng-class="{'currentLine': $ctrl.currentLine === lineNum}" class="codeLine">
          <td class="iconCol" ng-click="$ctrl.toggleIcon(lineNum, 'flag')">
            <div class="spacer" layout="row" layout-align="center center">
              <i class="fa fa-flag icon" ng-show="$ctrl.flags[lineNum]"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card>

  <md-card class="blockCard" flex>
    <table class="blockTable">
      <tbody>
        <tr ng-repeat="line in $ctrl.codeByLines track by $index" ng-init="lineNum = $index + 1"
          ng-class="{'currentLine': $ctrl.currentLine === lineNum}" keep-in-view="$ctrl.currentLine === lineNum" class="codeLine" ng-click="$ctrl.toggleIcon(lineNum, 'breakpoint')">
          <td class="iconCol">
            <div class="spacer" layout="row" layout-align="center center">
              <i class="fa fa-circle icon" ng-show="$ctrl.breakpoints[lineNum]" ng-class="{'fade': $ctrl.currentLine === lineNum}"></i>
              <i class="fa fa-arrow-right line-icon" ng-show="$ctrl.currentLine === lineNum"></i>
            </div>
          </td>
          <td class="midCol"><code><pre class="lineNumbers">{{lineNum}}</pre></code></td>
          <td><div class="userCode code-block" hljs hljs-language="python" hljs-source="line"></div></td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>