@import '../../styles/colors';

.odCodeBlock {
  border-collapse: collapse;
  width: 100%;


  .currentLine {
    background-color: $color-primary-light-4;
  }

  .codeLine:focus {
    outline: none;
  }

  .codeLine {

    .iconCol {
      width: 18px; //Width of arrow icon
    }
    .midCol {
      width: 20px;
    }
  }

  .spacer {
    position: relative;
  }
  .flag {
    font-size: 12px;
    color: $color-red-error;
    position: absolute;
  }
  .breakpoint {
    font-size: 12px;
    color: $color-red-error;
    position: absolute;
  }
  .breakpoint.fade {
    opacity: 0.4;
  }
  .line-icon {
    font-size: 12px;
    color: $color-text-med;
    z-index: 100;
  }
  .lineNumbers{
    margin: 0;
    text-align: right;
    margin-right: 3px;
  }
}