<div layout="row" class="odCodeBlock">
  <md-card class="blockCard flagCard" ng-if="$ctrl.existingExercise">
    <table class="blockTable">
      <tbody>
        <tr ng-repeat="line in $ctrl.codeByLines track by $index" ng-init="lineNum = $index + 1"
          ng-class="{'currentLine': $ctrl.isCurrentLine(lineNum)}" class="codeLine">
          <td class="iconCol" ng-click="$ctrl.toggleIcon(lineNum, 'flag')">
            <div class="spacer" layout="row" layout-align="center center">
              <i class="fa icon" ng-show="$ctrl.flags[lineNum]"
                ng-class="$ctrl.isEditing ? 'fa-exclamation active' : 'fa-flag'"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card>

  <md-card class="blockCard" flex>
    <table class="blockTable">
      <tbody>
        <tr ng-repeat="line in $ctrl.codeByLines track by $index" ng-init="lineNum = $index + 1"
          ng-class="{'currentLine': $ctrl.isCurrentLine(lineNum)}" keep-in-view="$ctrl.isCurrentLine(lineNum)" class="codeLine">
        <td class="iconCol" ng-if="!$ctrl.isEditing" ng-click="$ctrl.toggleIcon(lineNum, 'breakpoint')">
          <div class="spacer" layout="row" layout-align="center center">
            <i class="fa fa-circle icon" ng-show="$ctrl.breakpoints[lineNum]"
              ng-class="{'fade': $ctrl.isCurrentLine(lineNum)}"></i>
            <i class="fa fa-arrow-right line-icon" ng-show="$ctrl.isCurrentLine(lineNum)"></i>
          </div>
        </td>
        <td class="midCol" ng-click="$ctrl.toggleIcon(lineNum, 'breakpoint')">
          <code><pre class="lineNumbers">{{lineNum}}</pre></code>
        </td>
          <td ng-if="!$ctrl.isEditing || !$ctrl.flags[lineNum]">
            <div class="userCode code-block" hljs hljs-language="python" hljs-source="line"
              ng-class="{'blockComment': $ctrl.blockComments[$index]}"></div>
          </td>
          <td ng-if="$ctrl.isEditing && $ctrl.flags[lineNum]" class="editCol">
            <codemirror-line ng-model="line" ng-change="$ctrl.lineChanged(lineNum, line)"></codemirror-line>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>