@import '../../styles/colors';

.odCodeBlock {
  .lineNumbers{
    margin: 0 8px;
    color: $color-text-med;
  }
  .userCode {
    pre {
      margin: 0;
      code {
        padding: 0;
      }
    }
  }
}