<table class="odCodeBlock">
  <tbody>
    <tr ng-repeat="line in $ctrl.codeByLines track by $index" ng-init="lineNum = $index + 1"
      ng-class="{'currentLine': $ctrl.currentLine === lineNum}" keep-in-view="$ctrl.currentLine === lineNum" class="codeLine">
      <td class="iconCol" ng-click="$ctrl.toggleFlag(lineNum)">
        <div class="spacer" layout="row" layout-align="center center">
          <i class="fa fa-flag flag" ng-show="$ctrl.flags[lineNum]"></i>
        </div>
      </td>
      <td class="iconCol" ng-click="$ctrl.toggleBreakpoint(lineNum)">
        <div class="spacer" layout="row" layout-align="center center">
          <i class="fa fa-circle breakpoint" ng-show="$ctrl.breakpoints[lineNum]" ng-class="{'fade': $ctrl.currentLine === lineNum}"></i>
          <i class="fa fa-arrow-right line-icon" ng-show="$ctrl.currentLine === lineNum"></i>
        </div>
      </td>
      <td class="midCol"><code><pre class="lineNumbers">{{lineNum}}</pre></code></td>
      <td><div class="userCode code-block" hljs hljs-language="python" hljs-source="line"></div></td>
    </tr>
  </tbody>
</table>