@import '~csshake';
@import '../../styles/colors';

.odDebug {
  height: 100%;

  .pageName {
    margin: 0 8px;
  }
  .pageDesc {
    margin: 15px 8px 12px 10px;
    white-space: pre-wrap;
    color: $color-text-med;
  }

  .helpButton {
    font-size: 2em;
  }

  .debugButtons {
    margin-top: 10px;

    .debugButton {
      min-width: 0;
      background-color: $color-white;
    }
  }

  .memory {
    display: block;

    .frameHeading {
      padding: 4px 8px;
      background: $color-primary-light-4;
      border: 1px solid $color-primary;
      outline: none;

      .frameIcon {
        color: $color-text;
      }
    }
    .frameHeading.no-border-bottom {
      border-bottom: none;
    }
  }

  .displayCard {
    padding: 12px;
    display: block;
    
    .cardHeading {
      margin-bottom: 12px;
    }
    .outHeading {
      color: $color-text-med;
    }
    .step.last {
      border-left: none;
      margin-right: 12px;
    }

    .code-block pre code {
      padding: 0;
    }

    .cardInput {
      margin: 0
    }
  }

  .displayCard.exceptions {
    .cardHeading {
      color: $color-red;
    }
    .code-block {
      color: $color-red-error;
      line-height: 8px;
    }
  }

  .lhs {
    min-height: 150px;

    .codeArea {
      overflow: hidden;

      .codeTabs {
        margin: 0 8px;
        background-color: $color-white;
        border: 1px solid $color-grey-light;
      }

      .codeBlock {
        overflow: auto;
        margin: 0 5px 5px;
        padding: 0 4px 4px;
        height: calc(100% - 48px);
      }
    }
  }

  .rhs {
    margin-top: -8px;
    margin-left: 10px;
  }
}
