<h1 class="md-display-1 pageName" ng-if="$ctrl.existingExercise">{{$ctrl.pageName}}</h1>
<div layout="row" class="odDebug" ng-if="$ctrl.outputLoaded">
  <div layout="column" flex="50" flex-gt-md="60">
    <md-card class="codeBlock" id="codeBlock" flex>
      <code-block code-string="$ctrl.codeString" current-line="$ctrl.codeTrace[$ctrl.currentTraceIndex].line"
        breakpoints="$ctrl.breakpoints" breakpoint-action="$ctrl.toggleBreakpoint(line)"></code-block>
    </md-card>
    <div layout="row">
      <md-button class="md-raised debugButton" flex ng-click="$ctrl.goToStart()">
        <md-icon md-font-icon="fa" class="fa-fast-backward"></md-icon>
        <md-tooltip md-direction="bottom">Go To Start</md-tooltip>
      </md-button>
      <md-button class="md-raised debugButton" flex
        ng-disabled="$ctrl.currentTraceIndex <= 0" ng-click="$ctrl.stepBack()">
        <md-icon md-font-icon="fa" class="fa-step-backward"></md-icon>
        <md-tooltip md-direction="bottom">Step Backward</md-tooltip>
      </md-button>
      <md-button class="md-raised debugButton" flex ng-click="$ctrl.run()">
        <md-icon md-font-icon="fa" class="fa-play"></md-icon>
        <md-tooltip md-direction="bottom">Run</md-tooltip>
      </md-button>
      <md-button class="md-raised debugButton" flex
        ng-disabled="$ctrl.currentTraceIndex >= $ctrl.codeTrace.length - 1" ng-click="$ctrl.stepForward()">
        <md-icon md-font-icon="fa" class="fa-step-forward"></md-icon>
        <md-tooltip md-direction="bottom">Step Forward</md-tooltip>
      </md-button>
      <md-button class="md-raised debugButton" flex ng-click="$ctrl.goToEnd()">
        <md-icon md-font-icon="fa" class="fa-fast-forward"></md-icon>
        <md-tooltip md-direction="bottom">Go To End</md-tooltip>
      </md-button>
    </div>
  </div>
  <div flex layout="column">
    <md-card class="memory">
      <div class="md-card-content code-block" ng-repeat="frame in $ctrl.memory">
        <div class="md-subhead frameHeading" ng-click="$ctrl.openStackFrame(frame.id)"
          ng-class="{'no-border-bottom': frame.id !== $ctrl.visibleFrameId && !$last}" layout="row">
          <md-icon md-font-icon="fa" class="frameIcon"
            ng-class="frame.id === $ctrl.visibleFrameId ? 'fa-chevron-down' : 'fa-chevron-right'"></md-icon>
          <span>{{frame.name}}</span>
          <span flex></span>
        </div>
        <div ng-show="frame.id === $ctrl.visibleFrameId">
          <variable ng-repeat="variable in frame.variables" variable="variable"></variable>
        </div>
      </div>
    </md-card>
    <md-card class="displayCard exceptions" ng-show="$ctrl.codeTrace[$ctrl.currentTraceIndex].exception_msg">
      <div class="md-title cardHeading">Error</div>
      <div class="code-block">
        <code><pre>{{$ctrl.codeTrace[$ctrl.currentTraceIndex].exception_msg}}</pre></code>
      </div>
    </md-card>
    <md-card class="displayCard">
      <div class="md-title cardHeading outHeading">Output</div>
      <div class="md-card-content code-block" hljs hljs-source="$ctrl.codeTrace[$ctrl.currentTraceIndex].stdout">
      </div>
    </md-card>

    <div flex></div>

    <md-card layout="column" class="displayCard" ng-if="$ctrl.existingExercise">
      <div class="md-title cardHeading">Enter the error line</div>

      <form layout="row" name="$ctrl.errorLineForm" ng-submit="$ctrl.submit()" novalidate>
        <md-input-container class="cardInput" flex-gt-md="60" flex>
          <label>Line containing error</label>
          <input ng-model="$ctrl.errorLine" aria-label="line containing the error"
            name="errorLine" required autocomplete="off"/>
          <div ng-messages="$ctrl.errorLineForm.errorLine.$error">
            <div ng-message="required">Error line is required.</div>
          </div>
        </md-input-container>
        <div flex-gt-md></div>
        <span>
          <md-button type="submit" aria-label="check" class="md-primary" ng-disabled="$ctrl.submitted">Check</md-button>
        </span>
      </form>

    </md-card>
  </div>
</div>
