<div class="odDebug" layout="column">
  <div layout="row"  ng-if="$ctrl.existingExercise">
      <h1 class="md-display-1 pageName">{{$ctrl.pageName}}</h1>
      <div class="pageDesc" flex>{{$ctrl.exerciseDescription}}</div>
      <md-button aria-label="Help" class="helpButton md-icon-button" ng-click="$ctrl.displayHelp($event)">
          <md-icon md-font-icon="fa" class="fa-question-circle"></md-icon>
      </md-button>
  </div>

  <div layout="row" flex>
    <div class="lhs" layout="column" flex="60">
      <md-content class="codeArea" flex>
        <md-tabs class="codeTabs" md-selected="$ctrl.selectedTabNum">
          <md-tab label="Flag Errors" ng-click="$ctrl.toFlagging()"></md-tab>
          <md-tab label="Fix Errors" ng-click="$ctrl.toEditing()"></md-tab>
        </md-tabs>
        <div class="codeBlock" id="codeBlock" flex>
          <code-block code-string="$ctrl.codeString" current-line="$ctrl.codeTrace[$ctrl.currentTraceIndex].line"
            breakpoints="$ctrl.breakpoints" flags="$ctrl.flags"
            icon-action="$ctrl.toggleIcon(line, icon)" is-editing="$ctrl.isEditing"></code-block>
        </div>
      </md-content>

      <div class="debugButtons" layout="row">
        <md-button class="md-raised debugButton" flex ng-click="$ctrl.goToStart()"
          ng-disabled="$ctrl.currentTraceIndex <= 0 || $ctrl.isEditing">
          <md-icon md-font-icon="fa" class="fa-fast-backward"></md-icon>
          <md-tooltip md-direction="bottom">Go To Start</md-tooltip>
        </md-button>
        <md-button class="md-raised debugButton" flex ng-click="$ctrl.stepBack()"
          ng-disabled="$ctrl.currentTraceIndex <= 0 || $ctrl.isEditing">
          <md-icon md-font-icon="fa" class="fa-step-backward"></md-icon>
          <md-tooltip md-direction="bottom">Step Backward</md-tooltip>
        </md-button>
        <md-button class="md-raised debugButton" flex ng-click="$ctrl.run()"
          ng-disabled="$ctrl.currentTraceIndex >= $ctrl.codeTrace.length - 1 || $ctrl.isEditing" >
          <md-icon md-font-icon="fa" class="fa-play"></md-icon>
          <md-tooltip md-direction="bottom">Run</md-tooltip>
        </md-button>
        <md-button class="md-raised debugButton" flex ng-click="$ctrl.stepForward()"
          ng-disabled="$ctrl.currentTraceIndex >= $ctrl.codeTrace.length - 1 || $ctrl.isEditing">
          <md-icon md-font-icon="fa" class="fa-step-forward"></md-icon>
          <md-tooltip md-direction="bottom">Step Forward</md-tooltip>
        </md-button>
        <md-button class="md-raised debugButton" flex ng-click="$ctrl.goToEnd()"
          ng-disabled="$ctrl.currentTraceIndex >= $ctrl.codeTrace.length - 1 || $ctrl.isEditing">
          <md-icon md-font-icon="fa" class="fa-fast-forward"></md-icon>
          <md-tooltip md-direction="bottom">Go To End</md-tooltip>
        </md-button>
      </div>
    </div>

    <div class="rhs" layout="column" flex>
      <md-card class="memory">
        <div class="md-card-content code-block" ng-repeat="frame in $ctrl.memory">
          <div class="md-subhead frameHeading" ng-click="$ctrl.openStackFrame(frame.id)"
            ng-class="{'no-border-bottom': frame.id !== $ctrl.visibleFrameId && !$last}" layout="row">
            <md-icon md-font-icon="fa" class="frameIcon"
              ng-class="frame.id === $ctrl.visibleFrameId ? 'fa-chevron-down' : 'fa-chevron-right'"></md-icon>
            <span>{{frame.name}}</span>
            <span flex></span>
          </div>
          <div ng-show="frame.id === $ctrl.visibleFrameId">
            <variable ng-repeat="variable in frame.variables" variable="variable"></variable>
          </div>
        </div>
      </md-card>
      <md-card class="displayCard exceptions" ng-show="$ctrl.codeTrace[$ctrl.currentTraceIndex].exception_msg">
        <div class="md-title cardHeading">Error</div>
        <div class="code-block">
          <code><pre>{{$ctrl.codeTrace[$ctrl.currentTraceIndex].exception_msg}}</pre></code>
        </div>
      </md-card>
      <md-card class="displayCard">
        <div class="md-title cardHeading outHeading">Output</div>
        <div class="md-card-content code-block" hljs hljs-source="$ctrl.codeTrace[$ctrl.currentTraceIndex].stdout">
        </div>
      </md-card>

      <div flex></div>
      
      <div align="right">
        <md-button type="submit" aria-label="check flags" class="md-accent md-raised"
          ng-click="$ctrl.submit()" ng-show="!$ctrl.checkingCode">
          Check
        </md-button>
        <div ng-if="$ctrl.checkingCode">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
      </div>
    </div>
  </div>
</div>