@import '~csshake';
@import '../../styles/colors';

.odDebug {
  height: 100%;

  .pageName {
    margin: 0 8px;
  }
  .pageDesc {
    margin: 15px 8px 12px 10px;
    white-space: pre-wrap;
    color: $color-text-med;
  }

  .helpButton {
    font-size: 2em;
  }

  .codeBlock {
    overflow: auto;
    margin: 5px;
    padding: 4px;
    min-height: 105px;
  }

  .debugButtons {
    margin-top: 10px;

    .debugButton {
      min-width: 0;
      background-color: $color-white;
    }
  }

  .memory {
    display: block;
    
    .frameHeading {
      padding: 4px 8px;
      background: $color-primary-light-4;
      border: 1px solid $color-primary;
      outline: none;

      .frameIcon {
        color: $color-text;
      }
    }
    .frameHeading.no-border-bottom {
      border-bottom: none;
    }
  }

  .displayCard {
    padding: 12px;
    overflow: hidden;
    
    .cardHeading {
      margin-bottom: 12px;
    }
    .step.last {
      border-left: none;
      margin-right: 12px;
    }

    .codeBlock {
      overflow: auto;
      margin: 5px;
      padding: 4px;
      min-height: 105px;
    }
  }

    .displayCard {
      padding: 12px;
      overflow: hidden;
      
      .cardHeading {
        margin-bottom: 12px;
      }
      .outHeading {
        color: $color-text-med;
      }

      .code-block pre code {
        padding: 0;
      }

      .cardInput {
        margin: 0
      }
    }

  //.codeArea md-content md-tabs {
  //  border: 1px solid #e1e1e1;
  //}
  .tabs {
    height: 100%;
  }
    .codeBlockTabs {
      height: 100%;
    }

  .rhs {
    margin-top: 40px;
    margin-left: 10px;
  }

  .exceptions {
    .cardHeading {
      color: $color-red;
    }
    .code-block {
      color: $color-red-error;
      line-height: 8px;
    }
    .frameHeading.no-border-bottom {
      border-bottom: none;
    }
  }
}
