.odCompleteExercise {
    .header .title {
        margin: 24px 0 12px;
    }
    .content {
        padding: 0 24px 12px;

        .completeTime {
            margin: 12px 0;
            .heading {
                font-size: 18px;
            }
            .time {
                font-weight: bold;
            }
        }
    }
}