<div layout="column" ng-if="$ctrl.exercisesLoaded" layout-align="start start" class="odExercisesList">
  <div ng-repeat="exercise in $ctrl.exerciseList" ui-sref="{{$ctrl.editState}}({ id: exercise.id })"
    layout="row" layout-align="start center" class="exercise">
    <span class="exerciseName">{{exercise.name}}</span>
    <span flex="70" class="exerciseDesc">{{exercise.description}}</span>
    <span flex-gt-md></span>
    <stars ng-if="!$ctrl.isAdmin" score="exercise.score"></stars>
    <div class="rightButtons" ng-if="$ctrl.isAdmin" layout="row" layout-align="center center">
      <md-button class="md-icon-button actionButton md-accent" ng-click="$ctrl.showInfo(exercise.id, exercise.name)" stop-propagation>
        <md-icon md-font-icon="fa" class="fa-info-circle"></md-icon>
      </md-button>
      <md-button class="md-icon-button actionButton" ng-click="$ctrl.delete(exercise)" stop-propagation>
        <md-icon md-font-icon="fa" class="fa-trash"></md-icon>
      </md-button>
    </div>
  </div>
  <h4 class="md-title" ng-if="!$ctrl.exercisesExist">There are currently no saved exercises.</h4>
</div>

<div ng-if="!$ctrl.exercisesLoaded">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>