<md-button class="md-raised md-primary" aria-label="go to sandbox" ui-sref="sandbox">Sandbox</md-button>
<div layout="column" class="odExercisesList">
    <p ng-show="$ctrl.exerciseList.length === 0">There are currently no available exercises.</p>
    <p ng-show="$ctrl.exerciseList.length > 0">Choose an exercise:</p>
    <md-button class="exerciseButton md-raised" ng-repeat="exercise in $ctrl.exerciseList" 
    ng-click="$ctrl.getExerciseById(exercise[&quot;id&quot;])">{{exercise["name"]}}</md-button>
</div>