<div layout="column" ng-if="$ctrl.exercisesLoaded" layout-align="start start" class="odExercisesList">
  <h3 class="exercisesTitle md-title" ng-show="$ctrl.exercisesExist">Saved Exercises</h3>
  <div ng-repeat="exercise in $ctrl.exerciseList" ui-sref="{{$ctrl.editState}}({ id: exercise.id })"
    layout="row" layout-align="start center" class="exercise">
    <span>{{exercise.name}}</span>
    <span flex></span>
    <div class="rightButtons" ng-if="$ctrl.isAdmin" layout="row" layout-align="center center">
      <md-button class="md-icon-button actionButton md-accent" ng-click="$ctrl.showInfo(exercise.id)" stop-propagation>
        <md-icon md-font-icon="fa" class="fa-info-circle"></md-icon>
      </md-button>
      <md-button class="md-icon-button actionButton" ng-click="$ctrl.delete(exercise)" stop-propagation>
        <md-icon md-font-icon="fa" class="fa-trash"></md-icon>
      </md-button>
    </div>
  </div>
  <h4 class="md-title" ng-if="!$ctrl.exercisesExist">There are currently no saved exercises.</h4>
</div>

<div ng-if="!$ctrl.exercisesLoaded">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>