@import '../../styles/colors';

.odExercisesList {
  .error {
    width: 100%;

    .errorText {
      font-size: 14px;
      color: $color-red-error;
      margin-bottom: 4px;
    }
  }

  .exercise {
    margin: 4px 0;
    border: 1px solid $color-primary;
    padding: 4px 12px;
    width: 100%;
    height: 50px;
    background-color: $color-white;
    cursor: pointer;

    .exerciseName {
      font-weight: bold;
      padding-right: 12px;
    }

    .exerciseDesc {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 12px;
      color: $color-text-med;
    }
    .fakeStar {
      color: $color-grey-darker;
    }

    .rightButtons {
      border-left: 1px solid $color-primary-light-3;
      padding-left: 8px;

      .actionButton {
        margin: 0;
      }
    }
  }

  .exercise:hover {
    background-color: $color-grey-lightest;
  }
}