<md-card class="odAdmin">
  <div layout="row" layout-align="start center">
    <h1 class="md-display-1 adminTitle">Saved Exercises</h1>
    <span flex></span>
  </div>
  <div layout="column" ng-show="$ctrl.exercisesLoaded" layout-align="start start">
    <md-button class="md-primary" aria-label="create new" ng-click="$ctrl.addNew()">Create New</md-button>
    <h3 class="exercisesTitle md-title" ng-show="$ctrl.exerciseList">Edit Existing</h3>
    <span>
      <md-button class="exerciseButton md-raised" ng-repeat="exercise in $ctrl.exerciseList"
        ui-sref="editexercise({ id: exercise.id })">{{exercise.name}}</md-button>
    </span>
  </div>

  <div ng-show="!$ctrl.exercisesLoaded">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</md-card>