[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]

Flask = "==0.12.2"
Flask-Cors = "==3.0.3"
flask-restful = "==0.3.6"
Werkzeug = "==0.12.2"
pymongo = "==3.4.0"
oauth2client = "==4.1.2"
gunicorn = "==19.7.1"

