<div class="odCorrectLine">
    <div class="md-title">Correct!</div>
    <p class="body">Statistics:</p>
    <p class="body">Time taken: {{$ctrl.statistics[&quot;timeToCorrectlyGuessErrorLines&quot;]}}</p>
    <p class="body">Incorrect guesses: {{$ctrl.statistics[&quot;incorrectGuesses&quot;]}}</p>
    <p class="body">Breakpoints set: {{$ctrl.statistics[&quot;breakpointsSet&quot;]}}</p>
    <p></p>

    <md-dialog-actions>
      <md-button type="button" ng-click="$ctrl.close()" aria-label="OK">Ok</md-button>
    </md-dialog-actions>
</div>