@import '../../styles/colors';

.odDebug {
  height: 100%;

  .codeBlock {
    overflow: scroll;
    padding: 10px 0;
  }

  .debugButton {
    min-width: 0;
    background-color: $color-white;
  }

  .display-card {
    padding: 24px;
  }

  .exceptions {
    color: red;
  }
}
