<div layout="row" class="odDebug" ng-if="$ctrl.fileLoaded">
  <md-card flex="50" flex-gt-md="60" class="codeBlock" id="codeBlock">
    <code-block code-string="$ctrl.codeString" current-line="$ctrl.codeTrace[$ctrl.currentTraceIndex].line"
      breakpoints="$ctrl.breakpoints" breakpoint-action="$ctrl.toggleBreakpoint(line)"></code-block>
  </md-card>
  <div flex>
    <div layout="row">
      <md-button class="md-raised debugButton" flex ng-click="$ctrl.goToStart()">
        <md-icon md-font-icon="fa" class="fa-fast-backward"></md-icon>
        <md-tooltip md-direction="bottom">Go To Start</md-tooltip>
      </md-button>
      <md-button class="md-raised debugButton" flex
        ng-disabled="$ctrl.currentTraceIndex <= 0" ng-click="$ctrl.stepBack()">
        <md-icon md-font-icon="fa" class="fa-step-backward"></md-icon>
        <md-tooltip md-direction="bottom">Step Backward</md-tooltip>
      </md-button>
      <md-button class="md-raised debugButton" flex ng-click="$ctrl.run()">
        <md-icon md-font-icon="fa" class="fa-play"></md-icon>
        <md-tooltip md-direction="bottom">Run</md-tooltip>
      </md-button>
      <md-button class="md-raised debugButton" flex
        ng-disabled="$ctrl.currentTraceIndex >= $ctrl.codeTrace.length - 1" ng-click="$ctrl.stepForward()">
        <md-icon md-font-icon="fa" class="fa-step-forward"></md-icon>
        <md-tooltip md-direction="bottom">Step Forward</md-tooltip>
      </md-button>
      <md-button class="md-raised debugButton" flex ng-click="$ctrl.goToEnd()">
        <md-icon md-font-icon="fa" class="fa-fast-forward"></md-icon>
        <md-tooltip md-direction="bottom">Go To End</md-tooltip>
      </md-button>
    </div>
    <md-card class="sd-out">
      <div class="md-card-content code-block" hljs hljs-source="$ctrl.codeTrace[$ctrl.currentTraceIndex].stdout">
      </div>
    </md-card>
  </div>
</div>