@import '../../styles/colors';

.odCurrentTest {
  .header {
    padding: 4px 8px;
    background: $color-grey-light;
    border: 1px solid $color-grey-darker;
    outline: none;

    .numTest {
      font-size: 14px;
    }
  }

  .content{
    padding: 4px 8px;
    
  }
}