@import '../../styles/colors';

.odCurrentTest {
  .header {
    padding: 4px 8px;
    background: $color-grey-light;
    border: 1px solid $color-grey-darker;
    outline: none;

    .numTest {
      font-size: 14px;
    }

    .testStructure {
      margin: 0;
      color: $color-text-med;
    }
  }

  .content{
    padding: 0 8px;
    
    .childContent {
      padding: 8px 8px;
    }
    .childContent.first {
      border-right: 1px solid $color-grey-darker;
    }
  }
}