<div class="md-card-content odCurrentTest">
    <div class="header" layout="row" layout-align="start center">
      <span class="md-subhead">Current Test</span>
      <span flex></span>
      <span class="numTest">{{$ctrl.testNum}} of {{$ctrl.totalTests}}</span>
    </div>
    <div layout="row" class="content">
      <div flex class="childContent first">
        <variable variable="$ctrl.inputVariable" name-as-heading="true"></variable>
      </div>
      <div flex class="childContent">
          <variable variable="$ctrl.outputVariable" name-as-heading="true"></variable>
      </div>
    </div>
  </div>
