<md-toolbar class="md-primary odPageHeader">
  <div class="md-toolbar-tools toolbar" layout="row" layout-align="start center">
    <md-button layout="row" class="homeButton">
      <img src="/img/logo.png" class="button-logo" ui-sref="admin">
      <span class="button-text" ui-sref="home">Ladebug</span>
    </md-button>
    <span flex></span>
    <div id="signInButton" ng-show="$ctrl.authLoaded && !$ctrl.isSignedIn" class="signIn"></div>
    <md-menu md-offset="0 50" class="menu" ng-show="$ctrl.authLoaded">
      <md-button aria-label="Open logout menu" class="menuButton"
        ng-show="$ctrl.isSignedIn" ng-click="$mdMenu.open($event)">
        <img src="{{$ctrl.userImage}}" class="userPhoto" ng-if="$ctrl.isSignedIn">
      </md-button>
      <md-menu-content class="menuContent">
        <md-menu-item>
          <div layout="column" class="userInfo">
            <span class="username">{{$ctrl.userName}}</span>
            <span class="userEmail">{{$ctrl.userEmail}}</span>
          </div>
        </md-menu-item>
        <md-menu-item>
          <md-button md-autofocus ng-click="$ctrl.signout($event)" class="signOut">
            Sign Out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-icon ng-if="$ctrl.noGapi" md-font-icon="fa" class="fa-exclamation-triangle">
      <md-tooltip md-direction="bottom">Disable ad-block to enable user sign-in</md-tooltip>
    </md-icon>
  </div>
</md-toolbar>
