<md-toolbar class="md-primary odPageHeader">
  <div class="md-toolbar-tools toolbar" layout="row" layout-align="start center">
    <md-button layout="row" ui-sref="home" class="homeButton">
      <img src="/img/logo.png" class="button-logo">
      <span class="button-text">Online Debugger</span>
    </md-button>
    <span flex></span>
    <div id="signInButton" ng-show="!$ctrl.userLoaded" class="signIn"></div>
    <md-menu md-offset="0 50" class="menu">
      <md-button aria-label="Open logout menu" class="menuButton"
        ng-show="$ctrl.userLoaded" ng-click="$mdMenu.open($event)">
        <img src="{{$ctrl.userImage}}" class="userPhoto">
      </md-button>
      <md-menu-content class="menuContent">
        <md-menu-item>
          <div layout="column" class="userInfo">
            <span class="username">{{$ctrl.userName}}</span>
            <span class="userEmail">{{$ctrl.userEmail}}</span>
          </div>
        </md-menu-item>
        <md-menu-item>
          <md-button md-autofocus ng-click="$ctrl.signout($event)" class="signOut">
            Sign Out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
