@import "../../styles/colors";

.odEditExercise {
  height: 100%;
  min-height: fit-content;

  .codeEntryForm {
    height: 100%;
    min-height: fit-content;
    margin-bottom: 8px;

    .codeArea {
      margin-top: 0px;

      .CodeMirror {
        height: 100%;
      }
    }

    .codeButton {
      margin-bottom: 0;
    }
  }
  .codeDetails {
    min-height: 80px;
    overflow: hidden;

    .inputCard {
      padding: 12px 24px 0;
      margin: 0px 8px 10px;
      overflow: hidden;

      .nameDescContainer {
        margin-right: 24px;
      }

      .textInput {
        width: 100%;
        margin-bottom: 0px;

        .charsRemaining {
          font-size: 10px;
        }
      }
    }

    .inputCard.testCasesCard {
      padding: 12px 14px;


      .title {
        font-size: 14px;
        padding: 0 0 4px;
        color: $color-text-med;
      }

      .testCase {
        background-color: $color-grey-lightest;
        padding: 2px 0 4px 8px;
        margin: 2px;

        .testCaseTitle {
          font-size: 12px;
        }

        .codemirrorContainer {
          padding: 2px 0;
          
          .CodeMirror {
            padding: 2px 0;
            background-color: $color-grey-med;
          }
        }
      }
      // Push entry over so input boxes are in line
      .testCase.entry {
        padding-right: 52px;
      }
      .addButton {
        text-transform: none;
        .addTest {
          padding-right: 2px;
        }
      }
    }

    .errorLinesCard {
      padding-top: 30px;
    }

    .errorMessage {
      color: $color-red-error;
      font-size: 14px;
      margin: 0 8px;
    }
  }
}