<div class="odEditExercise" ng-if="$ctrl.create || $ctrl.exerciseLoaded">
  <form ng-submit="$ctrl.submit()" name="$ctrl.codeEntryForm" novalidate class="codeEntryForm" layout="row">
    <md-card flex="65" class="codeArea">
      <textarea ui-codemirror="{ onLoad: $ctrl.codeMirrorLoaded.bind($ctrl) }"
        ui-codemirror-opts="$ctrl.opts" ng-model="$ctrl.code"></textarea>
    </md-card>

    <div layout="column" flex class="codeDetails">
      <md-card class="inputCard" layout="row" layout-align="start center">
        <div class="nameDescContainer" flex>
          <md-input-container class="textInput">
            <label>Exercise Name</label>
            <input ng-model="$ctrl.name" aria-label="exercise name" name="exerciseName" required autocomplete="off"/>
            <div ng-messages="$ctrl.codeEntryForm.exerciseName.$error">
              <div ng-message="required">Name is required.</div>
            </div>
          </md-input-container>
        </div>
      </md-card>

      <md-card class="inputCard">
        <md-input-container class="textInput">
          <label>Exercise Description</label>
          <textarea ng-model="$ctrl.description" aria-label="exercise description" name="exerciseDescription"
            rows="3" autocomplete="off" maxlength="85" ></textarea>
          <div layout="row">
            <div flex><span></span></div>
            <p class="charsRemaining" layout-align="right">{{ 85 - $ctrl.description.length + ' chars remaining' }}</p>
          </div>
        </md-input-container>
      </md-card>

      <md-card class="inputCard errorLinesCard" layout="row" layout-align="start center">
        <div flex>
          <number-chips ng-model="$ctrl.errorLines" max-chip-num="$ctrl.getLineCount()"
            form="$ctrl.codeEntryForm"></number-chips>
        </div>
      </md-card>

      <div layout="row" layout-align="end center">
        <span class="errorMessage" ng-show="!$ctrl.code">{{$ctrl.errorMessage}}</span>
      </div>
      <span flex></span>
      <div layout="row" layout-align="end center">
        <md-button type="button" class="md-raised md-accent codeButton" aria-label="clear" ui-sref="admin">Cancel</md-button>
        <md-button type="submit" class="md-primary codeButton" ng-disabled="$ctrl.submitted"
          ng-class="{'md-raised': !$ctrl.submitted}" aria-label="debug">Save</md-button>
      </div>
    </div>
  </form>
</div>

<div ng-show="!$ctrl.exerciseLoaded && !$ctrl.create">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>