<div class="odEditExercise" ng-if="$ctrl.create || $ctrl.exerciseLoaded">
  <form ng-submit="$ctrl.submit()" name="$ctrl.codeEntryForm" novalidate>
    <md-card>
      <textarea ui-codemirror="{ onLoad: $ctrl.codeMirrorLoaded.bind($ctrl) }"
        ui-codemirror-opts="$ctrl.opts" ng-model="$ctrl.code"></textarea>
    </md-card>
    <md-card layout="row" layout-align="start center" class="inputCard">
      <div class="nameContainer" flex="60">
        <md-input-container class="textInput">
          <label>Exercise Name</label>
          <input ng-model="$ctrl.name" aria-label="exercise name" name="exerciseName" required autocomplete="off"/>
          <div ng-messages="$ctrl.codeEntryForm.exerciseName.$error">
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>
      </div>
      <div class="errorContainer" flex>
        <span class="errorLabel textLabelRequired" ng-class="{'hasError': $ctrl.errorLineError}">Errors in Code</span>
        <md-chips ng-model="$ctrl.errorLines" class="errorChips" name="errorLines" md-chips-as-numbers
          ng-class="{'hasError': $ctrl.errorLineError}"
          md-on-add="$ctrl.validateErrorLines($index)" md-on-remove="$ctrl.validateErrorLines($index)">
          <input type="number" class="chipInput" placeholder="Enter a line number" min="1">
        </md-chips>
        <div ng-messages="$ctrl.codeEntryForm.errorLines.$error" class="chipErrors">
          <div ng-message="required">An error is required.</div>
          <div ng-message="out-of-range">Error out of range.</div>
        </div>
      </div>
    </md-card>
    <div layout="row" layout-align="end center">
      <span class="errorMessage" ng-show="!$ctrl.code">{{$ctrl.errorMessage}}</span>
    </div>
    <div layout="row" layout-align="end center">
      <md-button type="button" class="md-raised md-accent" aria-label="clear" ui-sref="admin">Cancel</md-button>
      <md-button type="submit" class="md-primary" ng-disabled="$ctrl.submitted"
        ng-class="{'md-raised': !$ctrl.submitted}" aria-label="debug">Save</md-button>
    </div>
  </form>
</div>

<div ng-show="!$ctrl.exerciseLoaded && !$ctrl.create">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>