@import "../../styles/colors";

.odEditExercise {
  .inputCard {
    padding: 12px 24px 0;
    margin: 24px 8px;

    .nameDescContainer {
      margin-right: 24px;
    }

    .textInput {
      width: 100%
    }
  }

  .errorMessage {
    color: $color-red-error;
    font-size: 14px;
    margin: 0 8px;
  }
}